/* statistics section start */
.statistics_section {
  background-color: #332f2e;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 100px 0;
}
.statistics_section > * {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.statistics_section > * .content {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.statistics_section > * .content .count {
  font-size: 70px;
  font-weight: 700;
}
.statistics_section > * .content .text {
  font-size: 20px;
  text-transform: uppercase;
}

/* statistics section end */
